* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
    background: #111;
    color: white;
}

.container {
    display: flex;
    gap: 20px;
    background-color: #c21322;
    padding: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column-item {
    padding: 16px;
    background: rgb(90, 89, 89);
    color: black;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: 0.2s;
    cursor: pointer;
}

.column-item:hover {
    background: #05ab219d;
    border-color: #726bff;
}
